body {
    font-family: Geomanist, Helvetica, sans-serif;
}

:root {
    --button-color: #002f34;
    --hover-color: #3A77ff;
    --para-color: #406367;
    --img-text-color: #222222;
    --back-color: #E9ECEF;
}

/* ? ----------------- Header Section -----------------  */

.header {
    min-height: 153px;
}

.header a:hover {
    border: none !important;
    transition: all 0.17s ease-in-out;
}

.img-box {
    height: 40px;
    width: 40px;
    background-color: var(--back-color);
}

.header h3 {
    font-size: 18px !important;
    font-weight: bold !important;
    position: relative;
    top: 5px;
}

.row {
    border: 2px solid red;
}

.hover-img:hover {
    color: var(--hover-color);
}

/* ? ------------------------ Menu Links  ------------------- */
